{% extends 'base.html' %}
{% block title %}Weebits{% endblock%}


{% block main %}
<section>
    <div class="sliding-image-container lazyLoad">
        <div class="front-image-container">
            <a class="front-container-link" href="/collections/">
                <img id="left-image" class="front-image scale-on-load"
                    src="https://cdn.shopify.com/s/files/1/2169/6563/collections/beanie2.jpg?v=1645158983">
                <div class="background-blur">
                    <p class="title-line">SHOP BY</p>
                    <h2>CATALOGUE</h2>
                </div>
            </a>
        </div>
        <div class="front-image-container lazyLoad">
            <a class="front-container-link" href="/collections/headwear">
                <div class="background-blur">
                    <p class="title-line">SHOP BY</p>
                    <h2>HEADWEAR</h2>
                </div>
                <img id="right-image" class="front-image scale-on-load"
                    src="../static/images/baby-headwear-collection-weebits.jpg">
            </a>
        </div>
    </div>
</section>

<section>
    <h1
        style="text-align: center; font-weight: 400; font-size: 24px; letter-spacing: 5px; color: #1c1b1b; line-height: 35px;">
        EXPLORE OUR RANGE OF HAND CRAFTED MERINO BABY CLOTHES <br> MADE IN NEW ZEALAND</h1>
</section>

<section class="collection-showcase">
    <div class="collection-showcase__wrapper lazyLoad">
        <div class="slide-up-scroll">
            <div class="slide-up-scroll__wrapper">
                <a href="#" class="collection-showcase__collection link">
                    <img data-src="https://cdn.shopify.com/s/files/1/0116/2602/products/93adaa0e65e02bc34e421036986c44d193fc564d_800x_crop_center.jpg?v=1571438537"
                        alt="" class="collection-showcase__image">
                    <div class="collection-showcase__text">
                        <p class="text-two-lines">View Collection</p>
                        <h2 class="product__title">Baby Footwear</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="collection-showcase__wrapper lazyLoad">
        <div class="slide-up-scroll">
            <div class="slide-up-scroll__wrapper">
                <a href="#" class="collection-showcase__collection link">
                    <img data-src="https://cdn.shopify.com/s/files/1/0116/2602/products/March90015_800x800.jpg?v=1646867163"
                        alt="" class="collection-showcase__image">
                    <div class="collection-showcase__text">
                        <p class="text-two-lines">View Collection</p>
                        <h2 class="product__title">Baby Accessories</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="collection-showcase__wrapper lazyLoad">
        <div class="slide-up-scroll">
            <div class="slide-up-scroll__wrapper">
                <a href="#" class="collection-showcase__collection link">
                    <img data-src="https://cdn.shopify.com/s/files/1/0116/2602/products/august3755_800x_crop_center.jpg?v=1571438537"
                        alt="" class="collection-showcase__image">
                    <div class="collection-showcase__text">
                        <p class="text-two-lines">View Collection</p>
                        <h2 class="product__title">Baby Clothing</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section>
    <h1
        style="text-align: center; font-weight: 400; font-size: 26px; letter-spacing: 5px; color: #1c1b1b; line-height: 35px; text-transform: uppercase; margin-bottom: 70px;">
        Featured Products</h1>
    <div class="featured-products">
        <a class="product-panel img-scale-hover link-block" href="/products/baby-leggings">
            <div class="product-panel__image">
                <img
                    src="https://cdn.shopify.com/s/files/1/2115/6269/products/mustard-natural-cable-knit-baby-hat_600x.jpg?v=1671360842">
            </div>
            <div class="product-panel__description">
                <p class="product-panel__title">Cable Knit Baby Hat</p>
                <p class="product-panel__price">$54.00 NZD</p>
                <img style="width: 160px; text-align: center; display: inline-block;"
                    src="../static/images/Screenshot 2023-05-23 170227.png" alt="">
            </div>
        </a>
        <a class="product-panel img-scale-hover link-block" href="/products/baby-leggings">
            <div class="product-panel__image">
                <img
                    src="https://cdn.shopify.com/s/files/1/2115/6269/products/infant-in-natural-over-nappy-pants_600x.jpg?v=1671363812">
            </div>
            <div class="product-panel__description">
                <p class="product-panel__title">Over Nappy Pants</p>
                <p class="product-panel__price">from $52.00 NZD</p>
                <img style="width: 160px; text-align: center; display: inline-block;"
                    src="../static/images/Screenshot 2023-05-23 170227.png" alt="">
            </div>
        </a>
        <a class="product-panel img-scale-hover link-block" href="/products/baby-leggings">
            <div class="product-panel__image">
                <img
                    src="https://cdn.shopify.com/s/files/1/2115/6269/products/colour-range-multicolour-beanies_600x.jpg?v=1671361421">
            </div>
            <div class="product-panel__description">
                <p class="product-panel__title">Multicolour Beanies</p>
                <p class="product-panel__price">from $39.95 NZD</p>
                <img style="width: 160px; text-align: center; display: inline-block;"
                    src="../static/images/Screenshot 2023-05-23 170227.png" alt="">
            </div>
        </a>
        <a class="product-panel img-scale-hover link-block" href="/products/baby-leggings">
            <div class="product-panel__image">
                <img
                    src="https://cdn.shopify.com/s/files/1/2115/6269/products/natural-and-oatmeal-george-jackets_400x.jpg?v=1669026483">
            </div>
            <div class="product-panel__description">
                <p class="product-panel__title">George Jacket</p>
                <p class="product-panel__price">FROM $80.00 NZD</p>
                <img style="width: 160px; text-align: center; display: inline-block;"
                    src="../static/images/Screenshot 2023-05-23 170227.png" alt="">
            </div>
        </a>
    </div>
    <button style="margin: auto; margin-top: 50px;" class="default-button"><span>View All Featured
            Products</span></button>
</section>

<section>
    <div style="position: relative; display: flex; justify-content: center;" class="featured-collection">
        <div style="grid-row: 1; grid-column: 1; width: 100%; aspect-ratio: 5/3;" class="featured-colleciton__image">
            <!-- <img src="../static/images/baby.romper.jpg" alt=""> -->
            <!-- <img src="../static/images/baby-wraps-blankets.jpg" alt=""> -->
            <img style="object-position: 20% 28%;;" src="../static/images/baby-blankets-pixie-boot-set.jpg" alt="">
        </div>
        <div style="grid-row: 1; grid-column: 1; position: absolute; margin: 1%" class="featured-collection__title">
            <!-- <p class="text-two-lines" style="font-family: ChronicleDisplay-Roman, Arial, sans-serif; font-size: 20px; text-transform: uppercase;">Take a gander</p>
            <h2 class="product__title" style="font-size: 30px; text-transform: uppercase; letter-spacing: 5px;">Upon  our once in a lifetime summer range</h2> -->
        </div>
    </div>
</section>
<section>
    <h1
        style="text-align: center; font-weight: 400; font-size: 24px; letter-spacing: 6px; color: #1c1b1b; line-height: 35px; text-transform: uppercase;">
        We are committed to environmental sustainability</h1>
</section>

<section class="story-image">
    <div class="story-image__side story-image__side--left">
        <div class="story-image__story">
            <div class="story-image__block">
                <img style="position: absolute; top: 0; left: 0;" src="../static/images/CL_2022-07-20_8124 (002).jpg"
                    alt="">
            </div>
            <div class="story-image__block">
                <img style="object-position: 80% 85%;" src="../static/images/CL_2022-07-27_8394 (002).jpg" alt="">
            </div>
            <div class="story-image__block">
                <img src="../static/images/IMG_9770.jpg" alt="">
            </div>

            <div class="story-image__block">
                <img src="../static/images/CL_2022-07-27_8436.JPEG" alt="">
                <h2>Join Our Newsletter for update and more</h2>
            </div>
        </div>
    </div>
    <div class="story-image__side story-image__side--right lazyLoad">
        <div class="slide-up-scroll">
            <div class="slide-up-scroll__wrapper">
                <a class="story-image__link img-scale-hover link-block" href="/pages/about-us">
                    <div class="story-image__title background-blur">
                        <p class="title-line">Discover</p>
                        <h2>Our Story</h2>
                    </div>
                    <img data-src="..\static\images\CL_2022-07-27_8388 (002).jpg" class="story-image__image" alt="">
                    <img data-src="https://i.imgur.com/wzEVeMG.jpg" src="../static/images/CL_2022-07-27_8376.JPEG "
                        alt="" class="story-image__image story-image__image--2">
                </a>
            </div>
        </div>
    </div>
</section>

<section>
    <h1
        style="text-align: center; font-weight: 400; font-size: 26px; letter-spacing: 5px; color: #1c1b1b; line-height: 35px; text-transform: uppercase; margin-bottom: 70px;">
        Client Feedback</h1>
    <div
        style="display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr; padding-inline: 20px; gap: 20px; max-width: 1200px; margin: auto; font-size: 18px;">
        <div>
            <p>"My order came very quickly, beautifully wrapped and the clothes are beautifully made and so warm. The
                best merino kids clothes on the market by far. Thank you Debbie. What a brilliant product."</p>
            <p>Phillippa</p>
        </div>
        <div>
            <p>" Just wishing to thank you for my order of lovely knit wear that I received today. It is just so
                beautiful, I only wish I had found your website when my first daughter was born."</p>
        </div>
        <div>
            <p>"LOVE Your guys stuff. I ordered items for our then 3rd baby who’s now 2yrs & they’re now in my heirloom
                bag 😊 also STILL have the little hand written card in her keepsake box 💖💖💖"</p>
            <p>Melody</p>
        </div>
        <div>
            <p>"Debbie and her knitters are absolutely amazing! We have many weebits pieces that have passed through our
                kids, high quality products, brilliant customer service! Highly recommend this NZ Company!!"
            </p>
            <p>Toni</p>
        </div>
    </div>
</section>

<section>
    <h1
        style="text-align: center; font-weight: 400; font-size: 26px; letter-spacing: 5px; color: #1c1b1b; line-height: 35px; text-transform: uppercase; margin-bottom: 70px;">
        Discover our instagram</h1>

    <div style="display: flex; gap: 10px; margin: 10px;">
        <div style="flex: 1 0 0">
            <img src="../static/images/wool-baby-beanie-Noah.jpg" alt="">
        </div>
        <div style="flex: 1 0 0">
            <img src="../static/images/IMG_9585.JPG" alt="">
        </div>
        <div style="flex: 1 0 0">
            <img src="../static/images/CL_2022-05-19_6489 (002).jpg" alt="">
        </div>
        <div style="flex: 1 0 0">
            <img src="../static/images/colour-range-of-multi-colour-beanies-on-a-swing.jpg" alt="">
        </div>
        <div style="flex: 1 0 0">
            <img src="../static/images/baby-wearing-essential-set.jpg" alt="">
        </div>
    </div>
</section>
{% endblock %}